include part/head.jade
body.nm-body-wrapper
	include part/mobile-menu.jade
	include part/project.overall-header.jade
	include part/project.body-content.jade	
	// Clear float
	.clearfloat!='&nbsp;'
	include part/footer.jade