section.head-content-wrapper
	div.head-content-inner
		img.dp(src='./public/img/dp.png')
		h1='Hi! My name is Triadi Prabowo'
		h4(style='color: #6B9600')!='&mdash; Full Stack'
		h4='Front End Engineer'
		ul.social-icons
			li: a(href='//facebook.com/triadiprabowo'): img(src='./public/img/social/facebook.png')
			li: a(href='//twitter.com/triadiprabowo'): img(src='./public/img/social/twitter.png')
			li: a(href='//id.linkedin.com/in/triadiprabowo'): img(src='./public/img/social/linkedin.png')
			li: a(href='//instagram.com/triadiprabowo/'): img(src='./public/img/social/instagram.png')
			li: a(href='//soundcloud.com/triadiprabowo'): img(src='./public/img/social/soundcloud.png')
			li: a(href='//steamcommunity.com/id/triadiprabowo'): img(src='./public/img/social/steam.png')