doctype html
html(lang='en')
	head
		meta(name='description', content!= page.description)
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title!= page.title
		link(rel='shortcut icon', href='./public/img/favicon.png')
		// Core Modules
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
		script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js')		
		script(src='//cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js')
		script(src='./public/js/smooth-scroll.min.js')
		script(src='./public/js/app.config.js')
		// Input CSS files
		link(rel='stylesheet', href='//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css')
		link(rel='stylesheet', href='./public/css/main.css')
		link(rel='stylesheet', href='./public/css/hover.min.css')		