section.content-wrapper#my-tools
	div.content-inner
		img.title(src='./public/img/gear.png', width='48', height='48')
		h1.title='My Tools'

		ul.tools
			li.hvr-wobble-top: a(href='javascript:void(0)'): img(src='./public/img/tools/nodejs_s.png', title='NodeJS')
			li.hvr-wobble-top: a(href='javascript:void(0)'): img(src='./public/img/tools/php_s.png', title='PHP')
			li.hvr-wobble-top: a(href='javascript:void(0)'): img(src='./public/img/tools/jquery_s.png', title='jQuery')
			li.hvr-wobble-top: a(href='javascript:void(0)'): img(src='./public/img/tools/mongodb_s.png', title='NoSQL MongoDB')
			li.hvr-wobble-top: a(href='javascript:void(0)'): img(src='./public/img/tools/mysql_s.png', title='MySQL')
			li.hvr-wobble-top: a(href='javascript:void(0)'): img(src='./public/img/tools/angular_s.png', title='AngularJS')
			li.hvr-wobble-top: a(href='javascript:void(0)'): img(src='./public/img/tools/jade_s.png', title='Jade Template Engine')
			li.hvr-wobble-top: a(href='javascript:void(0)'): img(src='./public/img/tools/socketio_s.png', title='Socket.io')
			li.hvr-wobble-top: a(href='javascript:void(0)'): img(src='./public/img/tools/html5_s.png', title='HTML 5')
			li.hvr-wobble-top: a(href='javascript:void(0)'): img(src='./public/img/tools/css3_s.png', title='CSS 3')
			li.hvr-wobble-top: a(href='javascript:void(0)'): img(src='./public/img/tools/vb.png', title='VB.Net Visual Studio')