section.content-wrapper#biography
	div.content-inner
		img.title(src='./public/img/bio.png', width='44', height='44')
		h1.title='Biography'

		p.
			My name is Triadi Prabowo, the man driven by an unbridled and relentless passion for application development. I am born perfectionist, striving to stay on top of the scene. Likes to play games with hardcore attitude, arrange digital music with Third Party Software. Most of my time spent on computing and hanging out with my good friends. Even though I live an extraordinary life as one of the passionate pc geek in my family, I have always remained a down-to-earth guy. I'm constantly improve my skill at one thing I like which is Programming to achieve dream that en route to my next high-end job around the top companies.

		h4='The Developer'
		p.
			No matter how many times I should try to get there, as soon as I entered the web design world, I feel my blood boiling in my vein and I thought at the time: "This is my world!". Then, I stayed focus to improve my skill in application development especially Web Development. Mostly, I learned from various sources, tutorial and videos which resulted as best practice because I am visual learner type a guy. As soon as the beats of ideas already kicked in, I started to pour all of my ideas into the thing which is application and mostly are Web Development, I created plug-ins, engines to make my work or other people work easier. My family supported me for what I do, so I will keep going as long as I had opportunity and ideas to be the best web developer.

		h4='The Gamer'
		p.
			I started play games since my childhood, games is really helped me to improve my logic and skill to communicate with different language such as English and Japanese. Also, gaming world inspiring me to be better person which suit perfectly with main character I played in games. Those game categories are RPG or MMORPG like DotA 2, Final Fantasy Series, Legend of Dragoon, Diablo Series, and many others. Action / Strategy game helped me in many ways such as improved my reflex like how to encounter enemies with quick reflex and logic to deceived enemies with our abilities.

		h4='How It All Began'
		p.
			Born in Jakarta, Indonesia (January 04, 1994), I am indulged my passion for computing from a young age. I thought at the time “So as a little nerdy kid I was having my own personal computer and trying to be professional gamer and programmer.” I am progressing time to time, starting from only played games and learned simple Windows desktop application with VB. <br><br> "I loved gaming and programming, this really piqued my interest" learning from my brother who taught me a lot how to operated pc and tweaking its system. Then, in 2009 when I created online forum coded in phpBB3 and I named it 'Fixy-Fact' online community to discuss everything about games. At that time, my forum successfully known in Indonesian gamers community especially in GunBound and Crazy Kart online gamers community. Currently, my forum not really loved by people anymore because of incident in 2012 when my forum got banned for malicious and hacking contents. <br><br>My big inspirator and motivator are Enzo Ferrari (Founder of Ferrari), Niki Lauda (Driver of Formula 1) and John Nash (Genius Mathematician) which all of them can be success at their life because all of sacrifices had been made and I know that everything comes with price, so I am willing to do anything to achieve my goal. <br><br>Now, I advanced in JavaScript, HTML5, CSS3 and implement Full Stack development using NodeJS or PHP and still improving till today.