div.m-head-nav
	h1!='&equiv; Menu'

	ul.menu
		a(href='./home'): li='Home'
		a(data-scroll, href='#biography'): li='Biography'
		a(data-scroll, href='#portfolio'): li='Portfolio'
		a(href='javascript:void(0)'): li='Resume'
		a(href='./project'): li='Project'
		a(data-scroll, href='#contact'): li='Contact'