section.overall-header-mask
	canvas#c
	section.overall-header
		div.logo.hvr-buzz-out
			img(src='./public/img/headlogo.png')
		include head-menu.jade
	include head-content.jade
	a(data-scroll, href='#my-tools'): div.arrow.bounce