section.nm-header-wrapper
	section.search-box.form-input
		img(src='./public/img/magnifier56.png', width='24', height='24') 
		input(type='text', placeholder='Search my project keyword...')
	section.nm-header-nav
		div.logo.hvr-buzz-out
			img(src='./public/img/headlogo.png')
		include project.head-menu.jade
	section.nm-header-content
		h1='Projects'
		h4='Public personal project repositories, releases and in-development. Coded with latest technologies and methods'
.clearfloat