section.nm-body-content-wrapper
	.nm-content-left
		.nm-content-inner
			img(src='./public/img/repo.png', width='36', height='36').title-icon
			h1='List of Repositories'
			ul#repos-list

			.sk-circle#menu-loading
				.sk-circle1.sk-child
				.sk-circle2.sk-child
				.sk-circle3.sk-child
				.sk-circle4.sk-child
				.sk-circle5.sk-child
				.sk-circle6.sk-child
				.sk-circle7.sk-child
				.sk-circle8.sk-child
				.sk-circle9.sk-child
				.sk-circle10.sk-child
				.sk-circle11.sk-child
				.sk-circle12.sk-child


	.nm-content-main
		.nm-content-inner
			h1='Welcome to my personal project repository'
			p.
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sodales ex et velit venenatis venenatis. Phasellus consectetur lorem vel mi tristique, sed auctor lacus mollis. Integer laoreet ante semper leo porta, et tincidunt odio consequat. Donec sollicitudin vitae leo non vulputate. Ut lorem massa, posuere ac justo ut, blandit consequat sapien. Nulla in faucibus libero. Vestibulum imperdiet lacus vel quam egestas lobortis. Sed scelerisque libero id libero scelerisque, et mattis urna lobortis. Fusce sit amet urna suscipit, ornare quam non, aliquet tortor. Vestibulum ut tortor eget felis ullamcorper malesuada. Suspendisse vel ornare arcu, ac aliquam justo. Cras massa nulla, suscipit in mollis a, tincidunt ut ante. Nullam neque lorem, lobortis et nulla eu, hendrerit rutrum lacus.<br><br>

				Nunc lectus orci, egestas vel tristique a, finibus vestibulum dui. Curabitur pharetra sapien vel neque vulputate, in viverra nibh bibendum. Fusce egestas nulla eros, ut malesuada urna tincidunt ut. Donec et pellentesque nibh. Duis id finibus tortor, vitae blandit lacus. Vivamus cursus justo sit amet pharetra faucibus. Proin vehicula, metus in mollis ullamcorper, massa urna condimentum lacus, quis consequat purus eros et enim. Pellentesque elementum semper massa, eget fringilla sapien eleifend a.<br><br>

				Nunc tincidunt mollis risus, ac bibendum ante imperdiet at. Nunc malesuada sollicitudin sapien, sed ullamcorper libero porttitor at. Quisque est tellus, finibus nec libero eu, mollis pellentesque est. Sed ornare leo vel nibh facilisis sollicitudin. Fusce condimentum quam at quam feugiat, ultrices vehicula risus ultrices. Duis et ornare enim, sed blandit velit. Morbi rhoncus mi eget placerat euismod. Ut nec tortor et ipsum tincidunt scelerisque. Ut vitae erat nec est pharetra fringilla a quis turpis. Cras non faucibus nisi, nec tempor tellus. Nulla porttitor sem lectus, sit amet mollis magna aliquet rutrum.<br><br>

				Integer et ante gravida, facilisis diam eget, convallis risus. Maecenas ac magna arcu. Phasellus quis finibus nunc. Donec dictum elit nunc. Duis elementum tincidunt diam, in auctor turpis aliquet in. Phasellus ac odio tincidunt, consectetur ipsum quis, maximus nibh. Phasellus pretium erat nisl, vitae fermentum risus cursus non. Sed lobortis fringilla nulla vitae aliquam. Suspendisse potenti. Integer velit nibh, viverra ac faucibus et, tincidunt sit amet enim. Nam ut est elit. Nulla in odio egestas, congue odio sit amet, interdum metus. Integer pharetra vel neque sit amet porta. In suscipit, ipsum eget varius fermentum, purus nulla cursus quam, nec luctus lacus ex ut ligula. Nulla vel tincidunt felis, sed iaculis risus.<br><br>

				Curabitur commodo leo eu nunc malesuada faucibus. Donec ornare molestie mi, sit amet facilisis odio bibendum sed. Ut enim lacus, ultrices vitae arcu id, vulputate euismod diam. Nullam non tellus at erat porttitor placerat. Sed nec dictum turpis. Mauris vehicula, purus rutrum pretium euismod, mi arcu suscipit nisl, facilisis vestibulum orci tellus eu sapien. Vivamus pretium, lorem in congue hendrerit, dolor urna suscipit ante, eu finibus odio sem ut arcu. Fusce varius vitae quam id pretium. Curabitur arcu dui, scelerisque non felis sed, sagittis vestibulum metus. Mauris elementum consequat dui, vehicula tincidunt velit. Nulla quis ante convallis, pulvinar ante non, ornare dui.<br><br>